In [51]:
from string import ascii_lowercase

def solution(new_id):
    answer = ''
    
    alp = list(ascii_lowercase)
    num = [str(i) for i in range(0, 10)]
    oth = ['-', '_', '.']
    
    new_id = new_id.lower()
    print(new_id)
    
    tmp_id = ''
    for x in new_id:
        if x in alp or x in num or x in oth:
            tmp_id += x
    new_id = tmp_id
    print(new_id)
    
    tmp_id = ''
    cnt = 0
    for x in new_id:
        if x == '.':
            if cnt == 0:
                tmp_id += x
                cnt += 1
        else:
            cnt = 0
            tmp_id += x
    new_id = tmp_id
    print(new_id)
    
    new_id = new_id.strip('.')
    print(new_id)
    
    if len(new_id) == 0:
        new_id = 'a'
    print(new_id)
    
    tmp_id = ''
    if len(new_id) >= 16:
        for i in range(15):
            tmp_id += new_id[i]
    new_id = tmp_id
    print(new_id)
    
    new_id = new_id.strip('.')
    print(new_id)
    
    if len(new_id) < 3:
        while True:
            if len(new_id) == 3:
                break
            else:
                new_id += new_id[-1]
    print(new_id)


    answer = new_id
        
        
    return answer

In [52]:
print(solution("...!@BaT#*..y.abcdefghijklm"))

...!@bat#*..y.abcdefghijklm
...bat..y.abcdefghijklm
.bat.y.abcdefghijklm
bat.y.abcdefghijklm
bat.y.abcdefghijklm
bat.y.abcdefghi
bat.y.abcdefghi
bat.y.abcdefghi
bat.y.abcdefghi

In [7]:
from string import ascii_lowercase
a = list(ascii_lowercase)
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [8]:
a=[1,2,3]
c=[3,4,5]
for i in range(100):
    if i in a or i in c:
        print(i)

1
2
3
4
5

In [15]:
a = '1112111232131111121'
a = a.strip('1')
print(a)

211123213111112

In [24]:
a = "...!@BaT#*..y.abcdefghijklm".lower()
print(a)

...!@bat#*..y.abcdefghijklm

In [28]:
a = '123123123'
a = a.replace('1', '*')
print(a)

*23*23*23

In [34]:
num = [i for i in range(0, 10)]
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]